{% extends "page.html" %}

{% block breadcrumb_content %}

{% endblock %}

{% block primary_content_inner %}
  <h1>{% block page_heading %}{{ _('Unsubscribe') }}{%endblock%}</h1>

  <form action="/reminder/unsubscribe_all" method="post" enctype="application/x-www-form-urlencoded">
    <input type="hidden" name="unsubscribe_token" value="{{c.unsubscribe_token}}">
    <input type="hidden" name="subscriber_email" value="{{c.subscriber_email}}">
    <button type="submit" class="btn">{{ _('Unsubscribe all') }}</button>
  </form>

  <h2>{{ _('Subscriptions') }} ({{ c.subscriptions|length }})</h2>
    <ul>
      {% for item in c.subscriptions %}
      <form action="/reminder/unsubscribe" method="post" enctype="application/x-www-form-urlencoded">
        <input type="hidden" name="unsubscribe_token" value="{{c.unsubscribe_token}}">
        <input type="hidden" name="subscriber_email" value="{{c.subscriber_email}}">
        <li>
          <input type="hidden" name="package_id" value="{{item.id}}">
          <a href="{{ h.url_for(controller='package', action='read', id=item.name) }}"</a>{{ item.title }}
          <button type="submit" class="btn">{{ _('Unsubscribe') }}</button>
        </li>
      </form>
      {% endfor %}
    </ul>
{% endblock %}

{% block secondary_content %}
  {% snippet "reminder/snippets/info.html" %}
{% endblock %}